<!DOCTYPE html>
<html>
  <head>
    <!-- navigation bars -->
    <link rel = "icon" href = "https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" type = "image/x-icon"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="/stylesheets/about_style.css" type="text/css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/test.css"> -->

    <!-- dashboards -->
    <!-- bundle -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- google icons and icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel = "icon" href = "https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" type = "image/x-icon"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- style sheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet"/>
    <!-- drop down -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <title>Dashboard</title>

    <style>
        .hello_alert-box {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;  
        }

        .hello_success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d6e9c6;
            display: none;
        }
        #oval_parent{
            background: #eee;
            width:200px;
            height:120px;
            overflow:hidden;
        }
        #navbarSupportedContent ul li a{
            color: white;
        }
        #navbar-brand{
            color: white;
        }
        #oval{
            /* width: 220px;
            height: 100px;
            margin:10px 0 0 -10px;  
            background: white; */
            -moz-border-radius: 100px / 50px;
            -webkit-border-radius: 100px / 50px;
            border-radius: 100px / 50px;
        }
    </style>
  </head>


<%- include('header',{username:username}); -%>

<br>
<div class="container w-75 p-5 justify-content-center">
    <div style="border-bottom: 10px;">
        <h2>Events</h2>
    </div>  
    <hr>
    <div class="card">
        <h1 class="card-title"><h3 class="card-header">Ongoing Events</h3></h1>
        <% for(var i=0; i<eventdeatils.length; i++){ %>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-body">                        
                        <h5 class="card-title" data-mdb-toggle="modal" href="#exampleModalToggle<%=i%>"><%= eventdeatils[i].event %></h5>
                        <!-- <a class="btn btn-primary" data-mdb-toggle="modal" href="#exampleModalToggle1" role="button">Open first modal</a> -->
                        <!-- First modal dialog -->
                        <div class="modal fade modal-dialog-scrollable" id="exampleModalToggle<%=i%>" aria-hidden="true" aria-labelledby="exampleModalToggleLabel1" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-xl">                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Event Details</h5>
                                        <span class="material-symbols-outlined" data-bs-dismiss="modal">close</span>
                                    </div>
                                    <br>
                                    <div class="row_header mx-auto" style="width: 1000px;">
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Event</h5>
                                            </div>
                                            <div class="col-sm-9">
                                                <p><%= eventdeatils[i].event %></p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Event Description</h5>
                                            </div>
                                            <div class="col-sm-9">
                                                <p>
                                                    <%= eventdeatils[i].eDescription %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Guest Name</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <p>
                                                    <%= eventdeatils[i].gName %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- guest mail  -->
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Guest Email</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <p>
                                                    <%= eventdeatils[i].gMail %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Guest phone Number -->
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Guest Phone Number</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <p>
                                                    <%= eventdeatils[i].gPhone %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Mode -->
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Mode</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <% var op = eventdeatils[i].inlineRadioOptions %>
                                                <% if(op == "option1"){ %>
                                                    <p>Online</p>
                                                <% }else{ %>
                                                    <p>Offline</p>  
                                                <% } %>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- platform -->
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Platform</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <p>
                                                    <%= eventdeatils[i].platform %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Date -->
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Date</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <p>
                                                    <% var start = eventdeatils[i].dateTime[0].split("T") %>
                                                    <% var end = eventdeatils[i].dateTime[1].split("T") %>
                                                    <%= start[0] %> - <%= start[1] %> to <%= end[0] %> - <%= end[1] %>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <!-- Department -->
                                        <div class="row">
                                            <div class="col-sm-3 pr-3">
                                                <h5 class="modal-title">Department</h5>
                                            </div>
                                            <div class="col-sm-9 d-flex justify-content-start">
                                                <p>Computer Science, Electrical</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" data-mdb-target="#exampleModalToggle<%= i %>3" data-mdb-toggle="modal" data-mdb-dismiss="modal">
                                            Feedback
                                        </button>
                                        <button class="btn btn-primary" data-mdb-target="#exampleModalToggle<%= i %>2" data-mdb-toggle="modal"
                                            data-mdb-dismiss="modal">
                                            Join-Discussion
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second modal dialog -->
                        <div class="modal fade" id="exampleModalToggle<%= i %>2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel<%= i %>2"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel<%= i %>2"><%= eventdeatils[i].event %></h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <section style="background-color: white;" class="">
                                            <div class="container py-5">
                                                <div class="row d-flex justify-content-center">
                                                    <div class="col-md-6 col-lg-7 col-xl-8">
                                                        <ul class="list-unstyled">
                                                            <li class="d-flex justify-content-between mb-4">
                                                                <div class="card w-100">
                                                                    <div class="card-header d-flex justify-content-between p-3">
                                                                        <p class="fw-bold mb-0">Lara Croft</p>
                                                                        <p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <p class="mb-0">
                                                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                                            doloremque laudantium.
                                                                        </p>
                                                                    </div>
                                                                </div>                                                        
                                                                <!-- <span class="material-icons-outlined rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60" style="font-size: 50px;">account_circle</span>                                                     -->
                                                                
                                                                <!-- <img src="https://media.istockphoto.com/id/1332100919/vector/man-icon-black-icon-person-symbol.jpg?s=612x612&w=0&k=20&c=AVVJkvxQQCuBhawHrUhDRTCeNQ3Jgt0K1tXjJsFy1eg="
                                                                    alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"> -->
                                                            </li>
                                                            <li class="d-flex justify-content-between mb-4">
                                                                <img src="https://png.pngtree.com/png-vector/20191009/ourmid/pngtree-group-icon-png-image_1796653.jpg"
                                                                    alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
                                                                    width="60">
                                                                <div class="card">
                                                                    <div class="card-header d-flex justify-content-between p-3">
                                                                        <p class="fw-bold mb-0">Brad Pitt</p>
                                                                        <p class="text-muted small mb-0"><i class="far fa-clock"></i> 10 mins ago</p>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <p class="mb-0">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                                            incididunt ut labore et dolore magna aliqua.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="bg-white mb-3">
                                                                <div class="form-outline">
                                                                    <textarea class="form-control" id="textAreaExample2" rows="4"></textarea>
                                                                    <label class="form-label" for="textAreaExample2">Message</label>
                                                                </div>
                                                            </li>
                                                            <button type="button" class="btn btn-info btn-rounded float-end">Send</button>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <!-- <div class="modal-footer">
                                        <button class="btn btn-primary" data-mdb-target="#exampleModalToggle1" data-mdb-toggle="modal">
                                            Back Event Details
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Updation -->
                        <div class="modal fade" id="exampleModalToggle<%= i %>3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel<%= i %>3"
                            tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel<%= i %>2"><%= eventdeatils[i].event %></h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-primary">
                                          <h5 class="card-title text-white mt-2" id="exampleModalLabel">Feedback request</h5>
                                        </div>
                                        <div class="modal-body">
                                          <div class="text-center">
                                            <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
                                            <p>
                                              <strong>Your opinion matters</strong>
                                            </p>
                                            <p>
                                              Have some ideas how to improve our product?
                                              <strong>Give us your feedback.</strong>
                                            </p>
                                          </div>
                                    
                                          <hr />
                                    
                                          <form class="px-4" action="">
                                            <p class="text-center"><strong>Your rating:</strong></p>
                                    
                                            <div class="form-check mb-2">
                                              <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                                              <label class="form-check-label" for="radio3Example1">
                                                Very good
                                              </label>
                                            </div>
                                            <div class="form-check mb-2">
                                              <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
                                              <label class="form-check-label" for="radio3Example2">
                                                Good
                                              </label>
                                            </div>
                                            <div class="form-check mb-2">
                                              <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
                                              <label class="form-check-label" for="radio3Example3">
                                                Medicore
                                              </label>
                                            </div>
                                            <div class="form-check mb-2">
                                              <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
                                              <label class="form-check-label" for="radio3Example4">
                                                Bad
                                              </label>
                                            </div>
                                            <div class="form-check mb-2">
                                              <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
                                              <label class="form-check-label" for="radio3Example5">
                                                Very bad
                                              </label>
                                            </div>
                                    
                                            <p class="text-center"><strong>What could we improve?</strong></p>
                                    
                                            <!-- Message input -->
                                            <div class="form-outline mb-4">
                                              <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                                              <label class="form-label" for="form4Example3">Your feedback</label>
                                            </div>
                                          </form>
                                        </div>
                                        <div class="card-footer text-end">
                                          <button type="button" class="btn btn-primary">Submit</button>
                                        </div>
                                      </div>
                                    <!-- <div class="modal-footer">
                                        <button class="btn btn-primary" data-mdb-target="#exampleModalToggle1" data-mdb-toggle="modal">
                                            Back Event Details
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            <% var start = eventdeatils[i].dateTime[0].split("T") %>
                            <% var end = eventdeatils[i].dateTime[1].split("T") %>
                            <%= start[0] %> - <%= start[1] %> to <%= end[0] %> - <%= end[1] %>
                        </p>
                        <a href="#" class="btn btn-primary">Computer Science</a>
                        &nbsp;&nbsp;
                        <a href="#" class="btn btn-primary">Electrical</a>

                    </div>
                </li>
            </ul>
        <hr>
        <% } %>
    </div>
    <hr>
    
    <div class="card">
        <h5 class="card-title"><h3 class="card-header">Upcoming Events</h3></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">Computer Networks</h5>
                    <p class="card-text">2023-05-31 - 13:30 to 2023-05-31 - 14:30</p>
                    <a href="#" class="btn btn-primary">Computer Science</a>
                        &nbsp;&nbsp;
                    <a href="#" class="btn btn-primary">Electrical</a>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <div class="card">
        <h5 class="card-title"><h3 class="card-header">Past Events</h3></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">Software Engineering</h5>
                    <p class="card-text">2023-05-24 - 13:30 to 2023-05-24 - 15:30</p>
                    <a href="#" class="btn btn-primary">Computer Science</a>
                        &nbsp;&nbsp;
                    <a href="#" class="btn btn-primary">Electrical</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
  <%- include('footer'); -%>

</body>
</html>