<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<sript src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></sript>
<script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <title>Guest Lecture Maintenance V1</title>    -->
<link rel = "icon" href = "https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" type = "image/x-icon"> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="/stylesheets/about_style.css" type="text/css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/test.css"> -->

<!-- dashboards -->
<!-- bundle -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- google icons and icons-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel = "icon" href = "https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" type = "image/x-icon"> 
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- style sheets -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet"/>
<!-- drop down -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet"/>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<style>
    #oval_parent{
        background: #eee;
        width:200px;
        height:120px;
        overflow:hidden;
    }
    #navbarSupportedContent ul li a{
    color: white;
    }
    #navbar-brand{
    color: white;
    }
    #oval{
        /* width: 220px;
        height: 100px;
        margin:10px 0 0 -10px;  
        background: white; */
        -moz-border-radius: 100px / 50px;
        -webkit-border-radius: 100px / 50px;
        border-radius: 100px / 50px;
    }
</style>
    <title>Stats</title>
</head>
<%- include('header',{name:name}) -%>
<br>
<br>
<br>
<br>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    $(document).ready(function() {
        var ctx = $("#chart-line");
        var myLineChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Very Good", "Good", "Medicore", "Bad","Very bad"],
                datasets: [{
                    data: [
                        '<%= option1 %>',
                        '<%= option2 %>',
                        '<%= option3 %>',
                        '<%= option4 %>',
                        '<%= option5 %>'
                    ],
                    backgroundColor: ["rgba(100, 255, 0, 0.5)",  "rgba(0, 100, 255, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(242, 150, 2, 0.5)", "rgba(255, 0, 0, 0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Feedback'
                }
            }
        });
    });
</script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card">
                        <div class="card-header"><%= event_name %></div>
                        <div class="card-body" style="height: 420px">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container w-75 p-5 justify-content-center">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Rating</th>
            <th scope="col">Comments</th>
          </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<final.length;i++){ %>
                <% if (final[i].options=="option1") { %>
                    <tr class="table-success">
                        <th scope="row"><%= i %></th>
                        <td>Very Good</td>
                        <td><%= final[i].comments %></td>
                    </tr>
                <% }else if(final[i].options=="option2"){ %>
                    <tr class="table-primary">
                        <th scope="row"><%= i %></th>
                        <td>Good</td>
                        <td><%= final[i].comments %></td>
                    </tr>
                <% }else if(final[i].options=="option3"){ %>
                    <tr class="table-secondary">
                        <th scope="row"><%= i %></th>
                        <td>Medicore</td>
                        <td><%= final[i].comments %></td>
                    </tr>
                <% }else if(final[i].options=="option4"){ %>
                    <tr class="table-warning">
                        <th scope="row"><%= i %></th>
                        <td>Bad</td>
                        <td><%= final[i].comments %></td>
                    </tr>
                <% }else{ %>
                    <tr class="table-danger">
                        <th scope="row"><%= i %></th>
                        <td>Very Bad</td>
                        <td><%= final[i].comments %></td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
      </table>
</div>
<%- include('footer') -%>
</body>
</html>